html,
body {
  font-size: 10px;
  overflow: hidden;
  color: #333;
  height: 100vh;
  user-select: none;
  line-height: 1;
}

pre {
  font-family: initial;
}

#page {
  line-height: 1;
}

#app {
  position: relative;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}
